* {
    margin: 0;
}

div {
    width:50px;
    height:50px;
    padding: 10px;
}

.box1 {
    border: 2px solid black;
    margin-left: 0%;
}

.box2 {
    border: 4px solid black;
    margin-left: 72px;
}

.box3 {
    border: 8px solid black;
    margin-left: 148px;
}

.box4 {
    border: 16px solid black;
    margin-left: 231px;
}

.box5 {
    border: 32px solid black;
    margin-left: 331px;
}